In [2]:
import pandas as pd

In [ ]:
# Question 1. What's the version of Pandas that you installed?

In [3]:
pd.__version__

'2.0.3'

In [4]:
!wget "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"

--2023-09-18 20:15:23--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1.36M  --.-KB/s    in 0.06s

2023-09-18 20:15:24 (21.0 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [5]:
data = pd.read_csv("housing.csv")

In [ ]:
# Question 2. How many columns are in the dataset?

In [7]:
len(data.columns)

10

In [ ]:
# Question 3. Which columns in the dataset have missing values?

In [12]:
data.columns[data.isnull().any()]

Index(['total_bedrooms'], dtype='object')

In [ ]:
# Question 4. How many unique values does the ocean_proximity column have?

In [13]:
data['ocean_proximity'].nunique()

5

In [ ]:
# Question 5. What's the average value of the median_house_value for the houses located near the bay?

In [14]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [16]:
data.loc[data['ocean_proximity'] == 'NEAR BAY', 'median_house_value'].mean()

259212.31179039303

In [ ]:
# Question 6.

In [18]:
initial_avg = data['total_bedrooms'].mean()

In [19]:
initial_avg

537.8705525375618

In [21]:
data['total_bedrooms'].fillna(initial_avg, inplace=True)

In [22]:
new_avg = data['total_bedrooms'].mean()

In [23]:
new_avg

537.8705525375617

In [24]:
has_changed = round(initial_avg, 3) != round(new_avg, 3)

In [25]:
initial_avg, new_avg, has_changed

(537.8705525375618, 537.8705525375617, False)

In [ ]:
# Question 7.

In [26]:
import numpy as np

In [27]:
island_data = data[data['ocean_proximity'] == 'ISLAND']

In [28]:
selected_columns = island_data[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [29]:
X = selected_columns.values

In [30]:
XTX = X.T.dot(X)

In [31]:
XTX_inv = np.linalg.inv(XTX)

In [32]:
y = np.array([950, 1300, 800, 1000, 1300])

In [33]:
w = XTX_inv.dot(X.T).dot(y)

In [34]:
last_element_w = w[-1]

In [35]:
print(last_element_w)

5.6992294550655656